.toy-preview {
    .toy-preview-header {
        text-transform: capitalize;
        margin-block-start: 0;
    }
    .toy-preview-type {
        @include badge($borderColor);
    }
    h5 {
        margin: .5rem;
        &:last-of-type {
            margin-block-end: 2rem;
        }
    }
    img {
        height: 10rem;
        margin: 0;
        padding: 0;
    }
    .toy-preview-stock {
        @include stock
    }
}