.toy-app {
    .chat-btn {
        position: fixed;
        font-size: 2rem;
        border-radius: 999rem;
        right: 2rem;
        bottom: 2rem;
        z-index: 1;
        box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
        &:hover {
            box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302), 0 4px 8px 3px rgba(60, 64, 67, 0.149);
        }
    }
    h2 {
        @include header(3rem);
        @media (max-width: 390px) {
            & {
                font-size: 2rem;
            }
        }
    }
    img {
        align-self: center;
        height: 15rem;
    }
}