.nav-bar {
    background-color: #1e1f21;
    height: 5rem;
    padding: 0 2rem;
    color: white;
}

.nav-bar .logo {
    color: white;
    font-family: 'Righteous', cursive;
    font-size: 1.25rem;
    cursor: default;
}

.nav-bar .logo span {
    color: #00b8ec
}

.nav-bar .logo img {
    height: 3rem;
    border-radius: 50rem;
    margin-inline-end: .5rem;
    cursor: pointer;
}

.main-nav>* {
    color: white;
    font-size: 1.15rem;
}

.main-nav>*:not(:last-child) {
    margin-inline-end: 1rem;
}

.main-nav>*.router-link-exact-active {
    color: #00b8ec;
    font-weight: bold;
}