.toy-list {
    padding: 1rem;
}

.toy-container {
    position: relative;
    /* background-color: #00b9ecda; */
    background-color: #ffffff;
    border: 1px solid #bbbbbb;
    padding: 1rem;
    margin: 1rem;
    flex: 1;
    flex-basis: 15rem;
    min-width: 15rem;
    border-radius: 2rem;
    transition: border-color .3s;
    cursor: pointer;
}

.toy-container:hover {
    border-color: black;
}

.toy-container button {
    position: absolute;
    background-color: transparent;
    border: none;
    padding: .5rem .75rem;
    font-size: 1.1rem;
    color: #717171;
    transition: .3s;
    bottom: .25rem;
}

.toy-container button:first-of-type {}

.toy-container button:last-of-type {
    left: 3rem;
}

.toy-container button:hover {
    color: black;
    border-radius: 50%;
    padding: .5rem .75rem;
    background-color: rgba(2, 2, 2, 0.123);
}