.home-page {
    text-align: center;
    margin-top: 8rem;
    margin-inline-end: 15rem;
    font-size: 1.5rem;
}

.home-page h1 span {
    color: #00b8ec;
}

.home-page a {
    background-color: #00b8ec;
    color: white;
    font-size: 2rem;
    padding: .5rem;
    border-radius: 0.33rem;
    transition: .3s;
}

.home-page a:hover {
    background-color: #fff;
    color: #00b8ec;
    border: 1px solid #00b8ec;
}