.toy-edit {
    background-color: #00b9ecda;
    width: 20rem;
    margin: 1rem auto;
    padding: 1rem;
}

.toy-edit h2 {
    margin-block-start: 0;
}

.toy-edit input {
    border-radius: .33rem;
    border: none;
}

.toy-edit form>* {
    margin-block-end: 1rem;
}