.toy-details {
    padding: 1rem;
    text-align: center;
}

.toy-details-header {
    text-transform: capitalize;
    padding: 1rem;
    border: 1px solid rgb(173, 173, 173);
    width: 25rem;
    border-radius: .33rem;
    background-color: #00b8ec;
    color: white;
    margin: .5rem auto;
    cursor: default;
    transition: .3s;
    margin-block-end: 0;
}

.toy-details-header:hover {
    border-color: black;
}

.toy-details-desc {
    line-height: 1.5;
    color: rgb(51, 51, 51);
    text-shadow: 2px 2px 1px rgb(192, 192, 192);
    font-size: 1.05rem;
    width: 40rem;
    margin: 1rem auto;
}

.toy-details img {
    height: 15rem;
    margin-top: 0;
}

.toy-details-tag {
    margin: 0;
}

.toy-details-controls button {
    background-color: #00b8ec;
    color: white;
    font-size: 1.25rem;
    margin: 0 .5rem;
    padding: .5rem;
    border-radius: 0.33rem;
    transition: .3s;
}

.toy-details-controls button:hover {
    background-color: #0094bd;
}